.about{
    font-size: 1.3rem;
}

.about p{
    padding: 5px;
    margin: 5px;
}

.about nav{
    font-size: 0.8em;
    height: unset;
    background-color: unset;
    justify-content: center;
    padding: 0;
}

.about nav a{
    padding: 10px;
    margin: 10px;
}


.about-books h4{
    padding: 5px;
}

