
.expensive {
    color: red;
}

.cheap {
    color: green;
}

.book-detail{
    /* width: 60%; */
    background-color: antiquewhite;
    margin: auto;
    font-size: 1.5rem;
    padding: 20px;
    box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.5), 0 0 3px 0 rgba(0, 0, 0, 0.5);
    position: relative;
}

.book-detail .title{
    font-size: 2em;
    margin: 0  0 20px;
}

.book-detail img{
    height: 300px;
    display: block;
    margin: auto;
}

.return-btn{
    position: absolute;
    font-size: 0.8em;
    width: 80px;
    top: -5px;
    right: calc(50% - 40px);
}

.details{

    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.details ul{
    list-style: none;
    margin: 0;
    padding: 0;

}

.details li{
    font-size: 0.9em;
    margin: 0 10px;
}

.tags{
    display: flex;
    justify-content: center;
}

.tag{
    font-size: 0.8em;
    margin: 15px;
    padding: 2px 5px;
    min-width: 150px;
    display: inline-block;
    background-color: rgb(238, 147, 27);;
}

.desc-container{
    width: 60%;
    margin: auto;
}

.desc{
    margin: 10px;
    padding: 0 50px;
}

.price{
    font-size: 1.5em;
}

.img-container{
    position: relative;
    width: fit-content;
    margin: auto;
}

.sale{
    font-size: 0.7em;
    position: absolute;
    background-color: rgba(45, 243, 61, 0.801);
    padding: 5px;
    top: -5px;
    left: -5px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.6),inset 0 0 3px 0 rgba(0, 0, 0, 0.6);
}

.reviews{
    list-style: none;
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    margin: 20px 40px;
    padding: 10px 20px;
    box-shadow:  0 0 5px 0 rgba(0, 0, 0, 0.432);
    overflow-y: auto;
    max-height: 300px;
}

.reviews li{
    box-shadow:  0 0 2px 0 rgba(0, 0, 0, 0.432);
    display: inline-block;
    margin-bottom: 10px;
    padding: 0 10px;
}

.review-preview{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.review-preview h3{
    display: flex;
    align-items: center;
    margin-inline-end: 20px;
}

.review-preview .review-info{
    width:40%;
    text-align: center;
}
