
.review-add{
    position: absolute;
    background-color: aliceblue;
    max-width: 500px;
    height:600px;
    top:10px;
    left: calc(50% - 250px);
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.review-add h3{
    margin-bottom: 30px;
}
.review-add label{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.review-add textarea{
    padding: 10px;
    font-size: 0.8em;
    width:90%;
}

.checked{
    color: rgb(255, 196, 0);
}
