.user-msg {
    font-size: 1.3rem;
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 15px 35px;
    background-color: rgb(155, 155, 155);
    border-radius: 30px;
}

.user-msg button {
    position: absolute;
    top: 15px;
    right: 25px;
    background-color: rgb(185, 184, 184);
    border: none;
    cursor: pointer;
    outline: none;
}

.success {
    color: rgb(169, 255, 41);
    box-shadow: inset 0 0 10px 5px rgb(163, 255, 26), 0 0 3px 1px rgb(163, 255, 26);
}

.error {
    color: rgb(255, 41, 41);
    box-shadow: inset 0 0 10px 5px rgb(255, 26, 26), 0 0 3px 1px rgb(255, 26, 26)
}